<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create category</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'login' %}">login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">signup</a>
                </li>
                    {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">logout</a>
                </li>
                <li>
                    <a href="{% url 'home' %}">home</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">create receipt</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">category list</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">account list</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">create category</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">create account</a>
                </li>
                    {% endif %}

            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Create category </h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <button>Create</button>
            </form>
        </div>
    </main>

</body>
</html>
