<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account List</title>
</head>
<body>
    <main>
        <h1>My Accounts</h1>
        <table>
            <thead>
                <th>Name</th><th>Number</th><th>Number of receipts</th>
            </thead>
            <tbody>
                {% for account in accounts %}
                <tr>
                    <!--name-->
                    <td>
                        {{ account.name }}
                    </td>
                    <!--number-->
                    <td>
                        {{ account.number }}
                    </td>
                    <!--number of receipts-->
                    <td>
                        {{ account.receipts.all|length }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </main>
</body>
</html>
