<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt List</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'login' %}">login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">signup</a>
                </li>
                    {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">logout</a>
                </li>
                <li>
                    <a href="{% url 'home' %}">home</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">create receipt</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">category list</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">account list</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">create category</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">create account</a>
                </li>
                    {% endif %}

            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th><th>Total</th><th>Tax</th>
                <th>Date</th><th>Category</th><th>Amount</th>
            </thead>
            <tbody>
                {% for item in receipts %}
                <tr>
                    <!--vendor-->
                    <td>
                        {{ item.vendor }}
                    </td>
                    <!--total-->
                    <td>
                        {{ item.total }}
                    </td>
                    <!--tax-->
                    <td>
                        {{ item.tax }}
                    </td>
                    <!--date-->
                    <td>
                        {{ item.date|date:"m/d/y"}}
                    </td>
                    <!--category-->
                    <td>
                        {{ item.category }}
                    </td>
                    <!--amount-->
                    <td>
                        {{ item.account }}
                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
    </main>
</body>
</html>
